/* Write your CSS here! */

header {
    text-align: center;
}

#mainHeading {
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.coverart {
    object-fit: fill;
    height: 345px;
    width: 260px;
}

body {
    background-color:dimgray;
    margin: 8px;
    display: block;
    
}

img {
    border: 2px solid #222222;
}

h3 {
    font-size: xx-large;
    padding-left: 30px;
    font-weight: bold;
    padding-top: 50px;
}

p {
 font-size: large;
}

.summary {
    font-size: x-large;
    background-color: #4b4b4b;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 1200px) {
    .column {
      width: 100%;
    }
}

.funParagraph {
    color: green;
    font-size: x-large;
    background-color: #4b4b4b;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}